# ------------------------------------------------------------------
# Application
# ------------------------------------------------------------------
PORT=59998
CHROME_PATH=/usr/bin/google-chrome

# ------------------------------------------------------------------
# PostgreSQL Database
# ------------------------------------------------------------------
HOSTDB=localhost
PORTDB=5432
USERDB=postgres
PASSDB=password
DB=my_database

# ------------------------------------------------------------------
# FTP Server
# ------------------------------------------------------------------
HOSTFTP=ftp.example.com
USERFTP=user
PASSFTP=password
