# ------------------------------------------------------------------
# Application
# ------------------------------------------------------------------
PORT=59998
CHROME_PATH=/usr/bin/google-chrome

# ------------------------------------------------------------------
# PostgreSQL Database
# ------------------------------------------------------------------
HOSTDB=localhost
PORTDB=5432
USERDB=postgres
PASSDB_FILE=/secrets/api-node-express/postgres-password
DB=my_database

# ------------------------------------------------------------------
# FTP Server
# ------------------------------------------------------------------
HOSTFTP=ftp.example.com
USERFTP=user
PASSFTP_FILE=/secrets/api-node-express/ftp-password

# ------------------------------------------------------------------
# JWT
# ------------------------------------------------------------------
JWT_SECRET_FILE=/secrets/api-node-express/jwt-secret
REFRESH_JWT_SECRET_FILE=/secrets/api-node-express/refresh-jwt-secret